<div class="banner promo-slider_i">
      <!-- Swiper -->
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="./../common/images/banner/banner00.png" alt=""></div>
          <div class="swiper-slide"><img src="./../common/images/banner/banner01.png" alt=""></div>
          <div class="swiper-slide"><img src="./../common/images/banner/banner02.png" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
</div>
