<div class="banner promo-slider_i">
  <!-- Swiper -->
  <div class="swiper-container mySwiper idx-swiper-banner">
    <div class="swiper-wrapper swiper-wrapper-banner">
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner00.png);
          "
        ></div>
      </div>
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner01.png);
          "
        ></div>
      </div>
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner02.png);
          "
        ></div>
      </div>
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner03.png);
          "
        ></div>
      </div>
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner04.png);
          "
        ></div>
      </div>
      <div class="swiper-slide">
        <div
          class="slide-inner"
          style="
            background-image: url(../../common/images/banner/banner05.png);
          "
        ></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
