<a href="#b" id="b" accesskey="b" class="acc" title="下方選單連結區(B)">:::</a>

<div class="mainfooter">
    <div class="side-left">
        <div class="footer-logo"></div>
        <div class="copyright">
            <div class="footer-info">
                <p>地址<span class="footer-line-tag">|</span>111001 台北市士林區至善路二段221號</p>
                <p>電話<span class="footer-line-tag">|</span>(02)2881-2021、(02)6610-3600</p>
                <p>國立故宮博物院著作權所有　Copyright © National Palace Museum. All Rights Reserved.</p>
                <p class="footer-info-tag">
                    <span class="footer-tag">網站資料開放宣告</span>
                    <span class="footer-tag">隱私權宣告</span>
                    <span class="footer-tag">資訊安全政策</span>
                </p>
            </div>
        </div>

    </div>
    <div class="side-right">
        <ul>
            <li><a title="facebook" href="javascript;" class="footer-icon fb">facebook</a></li>
            <li><a title="youtube" href="javascript;" class="footer-icon yt">youtube</a></li>
            <li><a title="instagram" href="javascript;" class="footer-icon ig">instagram</a></li>
        </ul>
        <!-- <div class="acc-mark">
            <a href="#" title="無障礙標章AA（另開視窗）" target="_blank">無障礙標章AA</a>
        </div> -->
    </div>
</div>


<!--※ 提醒小幫手-->
<!--不需通過無障礙的網站請記得拿掉這兩個標章-->
<!--需要通過無障礙的網站請記得先隱藏起來，取得標章後再顯示-->
<!-- <div class="acc-mark">
                            <a href="#" title="無障礙標章AA（另開視窗）" target="_blank">無障礙標章AA</a>
                        </div>
                    
                        <div class="gov-mark">
                            <a href="https://www.gov.tw/" title="我的E政府（另開視窗）" target="_blank">我的E政府</a>
                        </div> -->