<div class="mainheader dark:bg-gray-800">
    <h1 class="logo">
        <a href="./index.html" title="首頁">首頁</a>
    </h1>
    <div class="topnav">
        <a href="#u" id="u" accesskey="u" class="acc" title="上方選單連結區(U)">:::</a>
        <div class="topnav-item-h sitemap">
            <a href="./sitemap.html#main" class="sitemap-btn dark:text-white transition duration-500"
                title="網站導覽">網站導覽</a>
        </div>
        <div class="dropdown lang-google-select ml-10">
            <a href="javascript:;" class="dropdown-btn icon-google bg-npm_gray dark:text-white transition duration-500" title="Language">Language</a>
            <div class="dropdown-list">
                <a href="#" title="中文">中文</a>
                <a href="#" title="English">English</a>
                <a href="#" title="日本語">日本語</a>
            </div>
        </div>
        <a href="javascript:;" id="switch"
            class="h-10 w-10 flex justify-center items-center focus:outline-none text-yellow-500">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
            </svg>
        </a>
    </div>
    <a href="javascript:;" class="menu-mobile-btn" title="Menu Button">Menu Button</a>
</div>
<div class="menu-box">
    <div class="menu-content">
        <ul class="menu-content-item">
            <li class="has-children">
                <div class="acnav__label-m">同仁研究成果</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./研究成果.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>
            <li class="has-children">
                <div class="acnav__label-m">文物月刊</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./index.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>
            <li class="has-children">
                <div class="acnav__label-m">學術季刊</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./index.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">年報</a>
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">英文年刊</a>
            </li>
            <li class="has-children">
                <div class="acnav__label-m">出版品</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./index.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">展覽通訊</a>
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">電子報</a>
            </li>
            <li class="has-children">
                <div class="acnav__label-m">統計報告</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./index.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">典藏資料庫</a>
            </li>
            <li class="has-children">
                <!-- 無分層改換a標籤  acnav__label-a -->
                <a href="javascript:;" class="acnav__label-a">Open Data</a>
            </li>
            <li class="has-children">
                <div class="acnav__label-m">Language</div>
                <!-- start level 1 -->
                <ul class="acnav__item acnav__list acnav__list--level2">
                    <li class="acnav__item-list">
                        <a title="" class="acnav__link--level2" href="./index.html#main">研究人員</a>
                    </li>
                    <li class="acnav__item-list">
                        <a title="" class=" acnav__link--level2" href="./index.html#main">研究成果</a>
                    </li>
                </ul>
                <!-- end level 1 -->
            </li>

            <div class="guid-area">
                <!-- Item 1 -->
                <a href="https://www.caa.gov.tw/" title="網站導覽">
                    <div class="ac-sitemap ac-guid"></div>
                    <div class="guid-name">網站導覽</div>
                </a>

                <!-- Item 2 -->
                <a href="https://www.caa.gov.tw/" title="整合查詢">
                    <div class="ac-search ac-guid"></div>
                    <div class="guid-name">整合查詢</div>
                </a>


                <!-- Item 3 -->
                <a href="https://www.caa.gov.tw/" title="回故宮博 物院首頁" target="_blank">
                    <div class="ac-npm ac-guid"></div>
                    <div class="guid-name">回故宮博物院首頁</div>
                </a>
            </div>

        </ul>
    </div>
</div>