<div class="features">
	<a href="#content-anchor" class="skiptoolbar" title="跳過此子選單列請按[Enter]，繼續則按[Tab]">跳過此子選單列請按[Enter]，繼續則按[Tab]</a>
	<ul class="fontsize">

		<li class="topnav-item share">
			<a href="javascript:;" class="option-btn share-btn" title="分享">分享</a>
			<ul class="share-list">
				<li>
					<a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));"
						class="icon-facebook" title="facebook（另開視窗）">facebook</a>
				</li>
				<li>
					<a href="javascript: void(window.open('http://line.me/R/msg/text/?'.concat(encodeURIComponent(location.href)) ));"
						class="icon-line" title="line（另開視窗）">line</a>
				</li>
				<li>
					<a href="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&amp;status=' .concat(encodeURIComponent(location.href)) .concat(' ') .concat('(') .concat(encodeURIComponent(document.title)) .concat(')')));"
						class="icon-plurk" title="plurk（另開視窗）">plurk</a>
				</li>
				<li><a
						href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href))));"
						class="icon-twitter" title="twitter（另開視窗）">twitter</a>
				</li>
			</ul>
		</li>


		<li><a href="javascript:;" class="option-btn print-btn" title="列印"><span>列印</span></a></li>
		<li><a href="javascript:;" class="fontsize-btn fontsize-btn-plus" title="字級增加">字級增加</a></li>
		<li><a href="javascript:;" class="fontsize-btn fontsize-btn-dec" title="字級減少">字級減少</a></li>
	</ul>
	<div id="content-anchor"></div>
</div>