<meta name="DC.Title" content="wireframe3dp" />
<meta name="DC.Creator" content="wireframe3dp" />
<meta name="DC.Subject" content="wireframe3dp" />
<meta name="DC.Description" content="wireframe3dp" />
<meta name="DC.Contributor" content="wireframe3dp" />
<meta name="DC.Type" content="3D列印" />
<meta name="DC.Format" content="html" />
<meta name="DC.Source" content="wireframe3dp" />
<meta name="DC.Language" content="中文" />
<meta name="DC.coverage.t.max" content="2030-12-31" />
<meta name="DC.coverage.t.min" content="2020-08-14" />
<meta name="DC.Publisher" content="wireframe3dp" />
<meta name="DC.Date" content="2020-08-14 09:00" />
<meta name="DC.Identifier" content=" A60000000E" />
<meta name="DC.Relation" content="GIP-EY-LP-090730-MP01" />
<meta name="DC.Rights" content="wireframe3dp" />
<meta name="Category.Theme" content="440" />
<meta name="Category.Cake" content="DB0" />
<meta name="Category.Service" content="954" />
<meta name="Keywords"
    content="wireframe3dp, 3D列印" />



<!--favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="./common/images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./common/images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./common/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./common/images/favicons/apple-touch-icon-76x76.png">
<link rel="icon" type="image/png" href="./common/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="./common/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="./common/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="./common/images/favicons/manifest.json">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">



<!--中文版吃的是 zh-tw.css -->
<link rel="stylesheet" href="./common/css/tailwind.css">
<link rel="stylesheet" href="./common/css/zh-tw.css">



<!--※ 提醒小幫手-->
<!--請在這個位置放 meta data，要注意這個網站是否有 og image -->
<!--↓↓這兩個標籤是 og image 的範例標籤，圖片都是假圖-->
<meta property="og:title" content="wireframe3dp">
<meta property="og:url" content="https://npmtheme.ec-media.com.tw/NpmAcademic2020/">
<meta property="og:image" content="./common/images/ogimg.jpg" />
<link rel="image_src" type="image/jpeg" href="./common/images/ogimg.jpg">
<link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />