@charset "UTF-8";
@import './utils/_utils.scss';

.dark {
  // * LOGO
  .logo > a {
    background: url(../images/wireframe-logo-white-v1.png) no-repeat
      center/contain;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
  // * 網站導覽
  .sitemap-btn {
    &::before {
      background: {
        color: transparent;
        image: url('../images/icon/icon-sitemap-white.svg');
        position: center;
        repeat: no-repeat;
        size: 70%;
      }
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
    }

    @include min-width(map-get($desktop, sm)) {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  // * 下拉選單的開關按鈕
  .dropdown-btn {
    &.icon-google::after {
      border-color: $color-white transparent transparent transparent;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;
    }
  }

  .menu-mobile-btn{
    background: url("../images/icon/menu-white.svg") no-repeat center/70%;
  }

  .menu-mobile-btn-close{
    background: url("../images/icon/close-white.svg") no-repeat center/60%;
  }

  .mainheader{
    box-shadow: 0px 5px 7px rgba($color-white, 0.3);
  }

  .menu-content-item{
    background-color: $color-black;
  }
  .menu-content-item{
    >li{
      color: $color-white;
      >a{
        color: $color-white;
      }
    }
  }

  // * nav
  .nav {
    @include min-width(map-get($desktop, sm)) {
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
    }
    > ul {
      > li {
        > a {
          color: $color-white;
          
          &.open{
            color: $color-black;
            background-color: $color-white;
          }
        }
      }
    }
  }

  // * section line
  .section-line {
    border-top: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
  }

  .idx-a1-s1 {
    background-color: $color-black;
  }

  .idx-a1-hd {
    h2 {
      color: $color-white;
    }
  }
  .idx-a1-more {
    span {
      color: $color-white;
    }
    svg {
      color: $color-white;
      path {
        color: $color-white;
      }
    }
  }

  // * work card
  .idx-a1s1-li {
    .idx-a1s1-date {
      svg {
        color: $color-white;
        path {
          color: $color-white;
        }
      }
      span {
        color: $color-white;
      }
    }
    .idx-a1s1-txt {
      color: $color-white;
    }
  }
  .web-works-wrap{
    >li{
        border: 1px solid $color-white;
      >a{
        .idx-a1s1-morebtn {
          background: $color-white;
          border: 1px solid $color-white;
          color: $color-black;
        }

        @include min-width(map-get($desktop, sm)) {
          &:hover {
            box-shadow: 15px 9px 14px 2px rgb(48, 48, 48);
  
            .idx-a1s1-morebtn {
              color: $color-white;
              background: $color-black;
            }
          }
        }

        .idx_list_imgbox {
          &::before {
            @include min-width(map-get($desktop, sm)) {
              background: #3e3e3e;
            }
          }
          &::after {
            @include min-width(map-get($desktop, sm)) {
              background: $color-white;
            }
          }
        }
      }
    }
  }

  //3d work title
  .ma_b1s1_title{
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-white;
    }
  }
  .sketchfab-list-card-title{
    color: $color-white;
  }
  
  //about

  .about{
    .about-title{
      color: $color-white;
    }
    p{
      color: $color-white;
    }
  }


  // * Footer
  .footer-logo {
    background-image: url('../images/wireframe-logo-white-v1.png');
  }

  .footer-info {
    > p {
      color: $color-white;
      > span {
        color: $color-white;
      }
    }
  }

  // * TOP
  .top-btn {
    color: $color-black;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
}
